.categorypagelayout{
    height: 100vh;
    background-color: black;
}

.categorypage{
    display: flex;
    justify-content: space-between;
}

.heading{
    color: white;
}

.subheading{
    color: white;
}

.cards{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.warning{
    color: red;
}

.categorycontainer{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.selectedcategory{
    text-align: center;
    color: white;
    width: 70px;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    background-color: green;
}

